body{
        font: "times new roman", serif;
}

.navbar{
    height: 5rem;
    background-color: white;

}

.fa-compass{
    color: brown;
    font-size: 2rem;
}

.nav-link{
    color: black !important;
    font-size: 1.2rem;
}


/* footer */
.f-info-links{
    text-decoration: none ;
    color: black;
}

.f-info-links:hover{
    text-decoration: underline;
    color: black;
}


.f-info-social, .f-info-links {
    font-size: 1.2rem;
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: center;

}

.f-info-social i{
    margin-right: 0.5rem;
}





.footer_info{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap !important;
    align-items: space-evenly;
    height: 8rem;
    background-color: antiquewhite;
}

/* cards */
.row .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap !important;
    border: none;
    margin-bottom: 2.6rem;
}

.card-img-top{
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
    width: 100%;
}

.card-text{
    font-weight: 400;

}

.btn-primary, .btn-warning, .btn-danger{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem !important;
}